body{
    background-color: #3e3e68;
}

h1, h2{
    color: white;
}

.nav-color{
    background-color: #f371e6;
}

.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 12px 15px;
}

.right{
    float: right;
}


.lower-header{
    padding: 0px;
    margin: 0px;
    background-image: radial-gradient(
        #58587e 12px,
        transparent 12px
    );
    background-size: 40px 40px;
}

.title{
    /* center text */
    color: #FA07E2;
    text-align: center;
    font-size: 150px;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}

@media screen and (max-width: 600px) {
    .title{
        font-size: 100px;
    }
}

.product-content {
    display: flex;
    align-items: center;
  }
  
  .product-image {
    margin-right: 20px; /* Adjust this value to add some spacing between the image and description */
  }
  
  .card{
    margin-top: 2.5%;
  }

.product-price{
    color: black;
    
}

.btn-cancel{
    
}